{% for rezultat in kolo %}
    <div class="row rezultat" data-domacin-id="{{ rezultat.domacin_id }}" data-gost-id="{{ rezultat.gost_id }}">
        <div class="one column">
            <img class="domacin" src="{{ rezultat.grb_domacin }}">
        </div>
        <div class="three columns">
            <label style="display:inline-block;" class="domacin ime">{{ rezultat.domacin }}</label>
            {% if rezultat.domacin_novo %}
            <button data-tip="domacin" style="display:inline-block;" class="dugme-dodaj-klub">Dodaj</button>
            {% endif %}
        </div>
        <div class="one column">
            <img class="gost" src="{{ rezultat.grb_gost }}">
        </div>
        <div class="three columns">
            <label style="display:inline-block;" class="gost ime">{{ rezultat.gost }}</label>
            {% if rezultat.gost_novo %}
            <button data-tip="gost" style="display:inline-block" class="dugme-dodaj-klub">Dodaj</button>
            {% endif %}
        </div>
        <div class="three columns">
            <label class="info-mode">{{ rezultat.golovi_domacin_ukupno }}:{{ rezultat.golovi_gost_ukupno }} ({{ rezultat.golovi_domacin_poluvreme }}:{{ rezultat.golovi_gost_poluvreme }})</label>
            <div class="edit-mode">
                <input class="golovi_domacin_ukupno" type="text" value="{{ rezultat.golovi_domacin_ukupno }}">:<input class="golovi_gost_ukupno" type="text" value="{{ rezultat.golovi_gost_ukupno }}">&nbsp;
                (<input class="golovi_domacin_poluvreme" type="text" value="{{ rezultat.golovi_domacin_poluvreme }}">:<input class="golovi_gost_poluvreme" type="text" value="{{ rezultat.golovi_gost_poluvreme }}">)
            </div>
        </div>
    </div>
{% endfor %}
<input type="hidden" id="novo-kolo-sezona" value="{{ sezona }}">
<div class="row info-mode">
    <button class="button button-primary u-pull-right" id="rezultat-dodaj" style="margin-left: 10px;">Sacuvaj</button>
    <button class="button button-primary u-pull-right" id="rezultat-edit">Izmeni</button>

</div>
<div class="row edit-mode">
    <button class="button u-pull-left" id="rezultat-odustani">Odustani</button>
</div>