<div class="container">
    <form class="dodaj-klub-modal">
        <div class="row">
            <h3>Dodaj klub</h3>
        </div>
        <div class="row navigation">
            <div class="six columns change-tab" data-show="novi-klub-tab">
                <label>Novi klub</label>
            </div>
            <div class="six columns change-tab" data-show="lista-klubova">
                <label>Lista postojecih</label>
            </div>
            <div class="six columns active-tab"></div>
        </div>
        <div class="tab novi-klub-tab">
            <div class="row">
                <div class="six columns">
                    <label for="klub-ime">*Ime:</label>
                    <input class="u-full-width" name="ime" type="text" placeholder="Ime kluba" id="klub-ime">
                    <label class="error-label" id="klub-error-ime"></label>
                </div>
                <div class="six columns">
                    <label for="klub-skracenica">*Skraćenica:</label>
                    <input class="u-full-width" type="text" name="klub-skracenica" placeholder="Skracenica" id="klub-skracenica">
                    <label class="error-label" id="klub-error-skracenica"></label>
                </div>
            </div>
            <div class="row">
                <div class="six columns">
                    <label for="register-password">*Grb:</label>
                    <input class="u-full-width" type="file" name="grb" id="klub-grb">
                    <label class="error-label" id="register-error-password"></label>
                </div>
            </div>
            <label for="klub-opis">Opis kluba:</label>
            <textarea class="u-full-width" placeholder="Opis kluba" id="klub-opis"></textarea>
            <div class="row buttons">
                <div class="six columns">
                    <button class="button u-pull-left dodaj-klub-close">Odustani</button>
                </div>
                <div class="six columns">
                    <button class="button-primary u-pull-right" id="dodaj-klub-start">Dodaj klub</button>
                </div>
            </div>
        </div>
        <div class="tab lista-klubova" style="max-height:400px;overflow-y:scroll;display:none">
        {% for klub in klubovi %}
            <div class="row">
                <div class="three columns">
                    <img style="height: 30px;" src="{{ asset_url('slike/{}'.format(klub.grb)) }}">
                </div>
                <div class="six columns">
                    <label>{{ klub.ime }}</label>
                </div>
                <div class="three columns">
                    <button data-id="{{ klub.id }}" data-ime="{{ klub.ime }}" data-grb="{{ asset_url("slike/{}".format(klub.grb)) }}" class="izaberi-klub">Izaberi</button>
                </div>
            </div>
        {% endfor %}
        </div>
    </form>
</div>