<nav>
    <div class="wrapper">
        <span class="mid-aligner" style="height: 75px;"></span>
        <ul>
            <li><a href="/backoffice/rezultati"><img src="{{ asset_url('slike/superliga_srbije.png') }}" height="60px"></a></li>
            <li><a href="/backoffice/rezultati">Rezultati</a></li>
            <li><a href="/backoffice/klubovi">Klubovi</a></li>
            <li><a href="/backoffice/korisnici">Korisnici</a></li>
            {% if user_logged_in %}
            <li>
                <a href="/user/logout">Logout</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>