<div class="container">
    <form class="izmeni-korisnika-modal">
        <div class="row">
            <h3>Izmeni korisnika</h3>
        </div>
        <div class="row">
            <div class="six columns">
                <label for="register-email">*Email:</label>
                <input class="u-full-width" name="email" type="email" placeholder="test@test.com" id="user-email">
                <label class="error-label" id="register-error-email"></label>
            </div>
            <div class="six columns">
                <label for="register-username">*Korisnicko ime:</label>
                <input class="u-full-width" type="text" name="username" placeholder="Pera123" id="user-username">
                <label class="error-label" id="register-error-username"></label>
            </div>
        </div>
        <div class="row">
            <div class="six columns">
                <label for="register-name">Ime:</label>
                <input class="u-full-width" type="text" name="name" placeholder="Pera" id="user-name">
            </div>
            <div class="six columns">
                <label for="register-last-name">*Prezime:</label>
                <input class="u-full-width" type="text" name="lastName" placeholder="Peric" id="user-last-name">
            </div>
        </div>
        <div class="row buttons">
            <div class="six columns">
                <button class="button u-pull-left izmeni-close">Odustani</button>
            </div>
            <div class="six columns">
                <button class="button-primary u-pull-right" id="izmeni-start">Izmeni</button>
            </div>
        </div>
        <input type="hidden" id="user_id">
    </form>
</div>