{% extends "backoffice/master.html" %}

{% block main_content %}
        <h1>Klubovi</h1>
        <div class="row">
            <div class="two columns">
                <select id="klubovi">
                    <option value="-1">--</option>
                    {% for klub in klubovi %}
                    <option data-klub-ime="{{ klub.ime }}"
                            data-klub-grb="{{ asset_url("slike/{}".format(klub.grb)) }}"
                            data-klub-skracenica="{{ klub.skracenica }}"
                            data-klub-opis="{{ klub.opis_kluba }}"
                    value="{{ klub.id }}">{{ klub.ime }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div id="klub-forma" style="display:none;">
            <div class="row">
                <div class="six columns">
                    <label for="klub-ime">*Ime:</label>
                    <input class="u-full-width" name="ime" type="text" placeholder="Ime kluba" id="klub-ime">
                    <label class="error-label" id="klub-error-ime"></label>
                </div>
                <div class="six columns">
                    <label for="klub-skracenica">*Skraćenica:</label>
                    <input class="u-full-width" type="text" name="klub-skracenica" placeholder="Skracenica" id="klub-skracenica">
                    <label class="error-label" id="klub-error-skracenica"></label>
                </div>
            </div>
            <div class="row">
                <div class="six columns">
                    <label for="register-password">*Grb:</label>
                    <input class="u-full-width" type="file" name="grb" id="klub-grb">
                    <label class="error-label" id="register-error-password"></label>
                </div>
                <div class="six columns">
                    <img id="klub-grb-slika" style="height:100px;">
                </div>
            </div>
            <label for="klub-opis">Opis kluba:</label>
            <textarea class="u-full-width" placeholder="Opis kluba" id="klub-opis"></textarea>
            <div class="row buttons">
                <div class="six columns">
                    <button class="button u-pull-left klub-odustani">Resetuj</button>
                </div>
                <div class="six columns">
                    <button class="button-primary u-pull-right" id="sacuvaj-klub">Izmeni</button>
                </div>
            </div>
        </div>
{% endblock %}
{% block page_js %}
    <script type="text/javascript" charset="utf-8" src="{{ asset_url('js/backoffice/klubovi.js') }}"></script>
{% endblock %}