{% for rezultat in kolo %}
    <div class="row rezultat" data-id="{{ rezultat.id }}">
        <div class="one column">
            <img src="{{ rezultat.grb_domacin }}">
        </div>
        <div class="three columns">
            <label>{{ rezultat.domacin }}</label>
        </div>
        <div class="one column">
            <img src="{{ rezultat.grb_gost }}">
        </div>
        <div class="three columns">
            <label>{{ rezultat.gost }}</label>
        </div>
        <div class="three columns">
            <label class="info-mode">{{ rezultat.golovi_domacin_ukupno }}:{{ rezultat.golovi_gost_ukupno }} ({{ rezultat.golovi_domacin_poluvreme }}:{{ rezultat.golovi_gost_poluvreme }})</label>
            <div class="edit-mode">
                <input class="golovi_domacin_ukupno" type="text" value="{{ rezultat.golovi_domacin_ukupno }}">:<input class="golovi_gost_ukupno" type="text" value="{{ rezultat.golovi_gost_ukupno }}">&nbsp;
                (<input class="golovi_domacin_poluvreme" type="text" value="{{ rezultat.golovi_domacin_poluvreme }}">:<input class="golovi_gost_poluvreme" type="text" value="{{ rezultat.golovi_gost_poluvreme }}">)
            </div>
        </div>
    </div>
{% endfor %}
<div class="row info-mode">
    <button class="button button-primary u-pull-right" id="rezultat-edit">Izmeni</button>
</div>
<div class="row edit-mode">
    <button class="button u-pull-left" id="rezultat-odustani">Odustani</button>
    <button class="button button-primary u-pull-right" id="rezultat-izmeni">Sacuvaj</button>
</div>