{% extends "backoffice/master.html" %}

{% block main_content %}
    <h1>Korisnici</h1>
    <table class="u-full-width">
        <thead>
            <tr>
                <th>ID</th>
                <th colspan="8">Ime i prezime</th>
                <th colspan="3"></th>
            </tr>
        </thead>
        <tbody>
            {% for user in korisnici %}
            <tr class="row table">
                <td>{{ user.id }}</td>
                <td colspan="8">{{ "{} {}".format(user.ime, user.prezime) }}</td>
                <td colspan="3">
                    <button class="button-primary u-pull-right izmeni-korisnika" data-id="{{ user.id }}">Izmeni</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <section class="izmeni-korisnik">
        {% include "backoffice/izmeni_korisnika.html" %}
    </section>
{% endblock %}
{% block page_js %}
    <script type="text/javascript" charset="utf-8" src="{{ asset_url('js/backoffice/korisnici.js') }}"></script>
{% endblock %}