{% extends "backoffice/master.html" %}
{% block main_content %}
<div class="container">
    <form class="login-modal">
        <div class="row">
            <h3>Login</h3>
        </div>
        <div class="row">
            <div class="six columns">
                <label for="login-username">*Korisnicko ime:</label>
                <input class="u-full-width" type="text" name="username" placeholder="Pera123" id="login-username">
                <label class="error-label" id="login-error-username"></label>
            </div>
            <div class="six columns">
                <label for="login-password">*Sifra:</label>
                <input class="u-full-width" type="password" name="password" placeholder="sifra" id="login-password">
                <label class="error-label" id="login-error-password"></label>
            </div>
        </div>
        <div class="row buttons">
            <div class="six columns">
                &nbsp;
            </div>
            <div class="six columns">
                <button class="button-primary u-pull-right" id="login-start">Login</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block page_js %}
    <script type="text/javascript" charset="utf-8" src="{{ asset_url('js/backoffice/login.js') }}"></script>
{% endblock %}