{% set user_logged_in = current_user %}
<!DOCTYPE html>
<html>
    <head>
        <title>Backoffice</title>
        <link rel="stylesheet" href="{{ asset_url('css/skeleton.css') }}">
        <link rel="stylesheet" href="{{ asset_url('css/site.css') }}">
    </head>
    <body>
    {% if user_logged_in %}
    <section id="header">
        {% include "backoffice/header.html" %}
    </section>
    {% endif %}
    <section class="main container">
        {% block main_content %}
        {% endblock %}
    </section>
    <script type="text/javascript" charset="utf-8" src="{{ asset_url('js/jquery-2.2.2.min.js') }}"></script>
    {% block page_js %}
    {% endblock %}
    </body>
</html>