{% extends "backoffice/master.html" %}

{% block main_content %}
    <h1>Rezultati</h1>
    <div class="row">
        <div class="two columns">
            <select id="sezona">
                <option value="-1">--</option>
                {% for sezona in sezone %}
                <option value="{{ sezona }}">{{ sezona }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="two columns">
            <select id="kolo">
            </select>
        </div>
    <button class="button u-pull-right" id="dohvati_poslednje_kolo">Dohvati poslednje kolo</button>
    </div>
    <div id="prikazi_kolo">

    </div>
    <section class="dodaj-klub">
        {% include "backoffice/dodaj_klub.html" %}
    </section>
{% endblock %}
{% block page_js %}
    <script type="text/javascript" charset="utf-8" src="{{ asset_url('js/backoffice/rezultati.js') }}"></script>
{% endblock %}