#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    z-index: 100000;
}

#header nav {
    height: 76px;
    overflow: hidden;
    background-color: #ffc324;
}
#header nav .wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}

.mid-aligner {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}
#header nav .wrapper ul{
    width: 500px;
    display: inline-block;
    vertical-align: middle;
    text-align: justify;
    margin-top: 8px;
}
#header nav .wrapper ul:after {
    width: 100%;
    height: 0;
    font-size: 0;
    content: "";
    display: inline-block;
}

#header nav .wrapper ul li {
    display: inline-block;
    /*color: white;*/
    vertical-align: middle;
}
#header nav .wrapper ul li a {
    color: white;
    text-decoration: none;
}
#header nav .wrapper ul li a:hover {
    color: #d35209;
}

#odnos_rezultati {
    height: 450px;
    width: 450px;
    margin: 0 auto;
    vertical-align: middle;
}

.main.container {
    top: 100px;
}
.column{
    text-align: center;
}
.no-left-margin{
    margin-left: 0;
}
.relative-position{
    position: relative;
}
#filteri,
#filteri_forma,
#filteri_golovi{
    position:absolute;
    background: rgba(0,0,0,.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 10000;
}
#filteri label,
#filteri_forma label,
#filteri_golovi label{
    color: white;
    display: inline-block;
    font-size: 1.2rem;
    margin-bottom: .2rem;
}
#filteri h6,
#filteri_forma h6,
#filteri_golovi h6 {
    margin-bottom: 1rem;
    font-weight: bold;
    font-style: italic;
}
#filter{
    position: absolute;
    z-index: 10001;
    left: 20px;
    bottom: 5px;
}
#filter_primeni{
    position: absolute;
    z-index: 10001;
    right: 20px;
    bottom: 5px;
}
#filter_golovi {
    position: absolute;
    z-index: 10001;
    right: 20px;
    top: 5px;
}
#filter_golovi_primeni {
    position: absolute;
    z-index: 10001;
    right: 20px;
    top: 48px;
}
#filter_forma {
    position: absolute;
    z-index: 10001;
    left: 20px;
    bottom: 5px;
}
#filter_forma_primeni {
    position: absolute;
    z-index: 10001;
    right: 20px;
    bottom: 5px;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
div.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px 10px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
}

/*Registracija, Login*/
.register,
.login,
.dodaj-klub,
.izmeni-korisnik{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100001;
}
.register .container,
.login .container,
.dodaj-klub .container,
.izmeni-korisnik .container{
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,.7);
}
.register .container form,
.login .container form,
.dodaj-klub .container form,
.izmeni-korisnik .container form{
    margin-bottom: 0;
}
.register .container .buttons,
.login .container .buttons,
.dodaj-klub .container .buttons,
.izmeni-korisnik .container .buttons{
    margin-top: 30px;
}
.register .container input,
.login .container input,
.dodaj-klub .container input,
.izmeni-korisnik .container input{
    margin-bottom: 0;
}

.error-label{
    color: red;
    font-size: 10px;
}
.input-error{
    border: 1px solid red !important;
}

.rezultat input{
    display: inline-block;
    width: 40px;
}
.rezultat img{
    height: 30px;
}
.info-mode{
    display: block;
}
.edit-mode{
    display: none;
}
.navigation{
    border-bottom: 1px solid #c0c0c0;
    position: relative;
    margin-bottom: 10px;
}
.navigation>.columns label{
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.navigation .active-tab{
    height: 2px;
    background: #33C3F0;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 0;
}