<div class="row" id="{{ filter_id }}">
    <div class="twelve columns">
        <h6>Sezone:</h6>
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        {% for sezona in sezone %}
            <label>
                <input type="checkbox" value="{{ sezona }}" name="sezone" checked>
                <span class="label-body">{{ sezona }}</span>
            </label>
        {% endfor %}
        <label>
            <input type="checkbox" value="sve" name="sezone" checked>
            <span class="label-body">Sve sezone</span>
        </label>
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <h6>Protivnici</h6>
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        {% for protivnik in klubovi %}
            {% if protivnik.id != klub.id %}
            <label>
                <input type="checkbox" value="{{ protivnik.id }}" name="klubovi" checked>
                <span class="label-body">{{ protivnik.ime }}</span>
            </label>
            {% endif %}
        {% endfor %}
        <label>
            <input type="checkbox" value="sve" name="klubovi" checked>
            <span class="label-body">Svi klubovi</span>
        </label>
    </div>
</div>
<div class="u-full-width">
    <button class="u-pull-right button-primary" onclick="update()">Primeni</button>
</div>