<nav>
    <div class="wrapper">
        <span class="mid-aligner" style="height: 75px;"></span>
        <ul>
            <li><a href="/"><img src="{{ asset_url('slike/superliga_srbije.png') }}" height="60px"></a></li>
            <li><a href="/tabela">Tabela</a></li>
            <li><a href="/klubovi">Klubovi</a></li>
            <li>
                {% if user_logged_in %}
                <a href="/profil">Profil</a>
                {% else %}
                <a href="#" id="show-register">Registracija</a>
                {% endif %}
            </li>
            {% if not user_logged_in %}
            <li>
                <a href="#" id="show-login">Login</a>
            </li>
            {% else %}
            <li>
                <a href="/user/logout">Logout</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>