{% extends 'master.html' %}

{% set title = "Diplomski rad" %}
{% set trenutno_kolo = sezona.kola[sezona.trenutno_kolo - 1] %}
{% block main_content %}
    <div class="row">
    <div class="six columns">
        <p>Superliga Srbije igra se od sezone 2006/07, kada je Srbija postala nezavisna država.</p>
        <p>Prve dve sezone broj klubova u ligi je bio 12, a od sezone 2008/09 broj klubova je 16.</p>
        <p>U sezonama 2006/07 i 2007/08, igralo se po trokružnom sistemu, dok se od sezone 2008/09 igra po dvokruznom sistemu.</p>
        <p>Do sada je najvise uspeha u prvenstvima Srbije imao Partizan sa osvojenih 7 titula, dok je Crvena zvezda osvojila 2.</p>
        <p>U prethodnih devet sezona mnogo više uspeha imali su domaćini. Ako se pogledaju svi
            rezultati, dolazi se do podatka da su domaćini ostvarili 47,29% pobeda, gosti 27,66%
            dok je nerešenim rezultatom završeno 25,05% utakmica.</p>
        <p>Prosečan broj pogodaka po meču u šampionatu iznosi 2,24 gola, domaćini postižu 1,32
            a gosti 0,92.</p>
        <p>Ako se pogleda statistika postizanja pogodaka, domaćini su efikasniji
            u drugom poluvremenu, pošto se u prvom poluvremenu postiže prosečno 0,60, a u
            drugom poluvremenu 0,72 gola po meču. Isto se može reći i za goste, koji u prvom
            poluvremenu postižu prosečno 0,40 a u drugom 0,52 gola po meču.</p>
    </div>
    <div class="six columns">
        <div id="grafik1">
        </div>
    </div>
    </div>
{% endblock %}

{% block page_js %}
<script type="text/javascript" src="{{ asset_url('js/index.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        var index = new IndexCtrl();
    });

</script>
{% endblock %}