{% extends 'master.html' %}

{% set title = "Klubovi" %}

{% block main_content %}
    <div class="row">
        {% for klub in klubovi %}
        <div class="one-third column{% if (loop.index - 1) % 3 == 0 %} no-left-margin{% endif %}">
            <a href="/klubovi/{{ klub.skracenica }}">
                <img style="height:100px;" src="{{ asset_url('slike/{}'.format(klub.grb)) }}">
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}