{% extends 'master.html' %}

{% set title=klub.ime %}

{% block main_content %}
    <div class="row">
        <div class="four columns">
            <img height="100" src="{{ asset_url('slike/{}'.format(klub.grb)) }}">
        </div>
        <div class="eight columns">
            <h1>{{ klub.ime }}</h1>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="six columns"><p>{{ klub.opis_kluba }}</p></div>
        <div class="six columns relative-position">
            <div id="odnos_rezultati"></div>
            <div id="filteri">
                <div class="row">
                    <div class="twelve columns">
                        <h6>Sezone:</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns">
                        {% for sezona in sezone %}
                            <label>
                                <input type="checkbox" value="{{ sezona }}" name="sezone" checked>
                                <span class="label-body">{{ sezona }}</span>
                            </label>
                        {% endfor %}
                        <label>
                            <input type="checkbox" value="sve" name="sezone" checked>
                            <span class="label-body">Sve sezone</span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns">
                        <h6>Protivnici</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns">
                        {% for protivnik in klubovi %}
                            {% if protivnik.id != klub.id %}
                            <label>
                                <input type="checkbox" value="{{ protivnik.id }}" name="klubovi" checked>
                                <span class="label-body">{{ protivnik.ime }}</span>
                            </label>
                            {% endif %}
                        {% endfor %}
                        <label>
                            <input type="checkbox" value="sve" name="klubovi" checked>
                            <span class="label-body">Svi klubovi</span>
                        </label>
                    </div>
                </div>
            </div>
            <button id="filter" onclick="filterRezultati.toggleFilter()">Filteri</button>
            <button id="filter_primeni" class="button-primary" onclick="update()" style="display:none;">Primeni</button>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <h3>Grafik konačnih rezultata utakmica:</h3>
    </div>
    <div class="row">
        <div class="twelve columns relative-position">
            <div id="golovi" style="height:300px;"></div>
            <div id="filteri_golovi">
                <div class="row">
                    <div class="twelve columns">
                        <h6>Sezone:</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns">
                        {% for sezona in sezone %}
                            <label>
                                <input type="checkbox" value="{{ sezona }}" name="sezone" checked>
                                <span class="label-body">{{ sezona }}</span>
                            </label>
                        {% endfor %}
                        <label>
                            <input type="checkbox" value="sve" name="sezone" checked>
                            <span class="label-body">Sve sezone</span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns">
                        <h6>Protivnici</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns">
                        {% for protivnik in klubovi %}
                            {% if protivnik.id != klub.id %}
                            <label>
                                <input type="checkbox" value="{{ protivnik.id }}" name="klubovi" checked>
                                <span class="label-body">{{ protivnik.ime }}</span>
                            </label>
                            {% endif %}
                        {% endfor %}
                        <label>
                            <input type="checkbox" value="sve" name="klubovi" checked>
                            <span class="label-body">Svi klubovi</span>
                        </label>
                    </div>
                </div>
            </div>
            <button id="filter_golovi" onclick="filterGolovi.toggleFilter()">Filteri</button>
            <button id="filter_golovi_primeni" class="button-primary" onclick="updateGolovi()" style="display:none;">Primeni</button>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <h3>Grafik poslednjih odigranih utakmica:</h3>
    </div>
    <div class="row" style="margin-bottom: 50px;">
        <div class="twelve columns relative-position">
            <svg id="forma" style="height:350px;"></svg>
            <div id="filteri_forma">
                <div class="row">
                    <div class="twelve columns">
                        <h6>Sezone:</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns">
                        {% for sezona in sezone %}
                            <label>
                                <input type="checkbox" value="{{ sezona }}" name="sezone" checked>
                                <span class="label-body">{{ sezona }}</span>
                            </label>
                        {% endfor %}
                        <label>
                            <input type="checkbox" value="sve" name="sezone" checked>
                            <span class="label-body">Sve sezone</span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns">
                        <h6>Protivnici</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="twelve columns">
                        {% for protivnik in klubovi %}
                            {% if protivnik.id != klub.id %}
                            <label>
                                <input type="checkbox" value="{{ protivnik.id }}" name="klubovi" checked>
                                <span class="label-body">{{ protivnik.ime }}</span>
                            </label>
                            {% endif %}
                        {% endfor %}
                        <label>
                            <input type="checkbox" value="sve" name="klubovi" checked>
                            <span class="label-body">Svi klubovi</span>
                        </label>
                    </div>
                </div>
            </div>
            <button id="filter_forma" onclick="filterForma.toggleFilter()">Filteri</button>
            <button id="filter_forma_primeni" class="button-primary" onclick="updateForma()" style="display:none;">Primeni</button>
        </div>
    </div>
    <div class="row">
        <div class="six columns"></div>
    </div>
    <div class="six columns">
        <div class="cetiri"></div>
    </div>
{% endblock %}

{% block page_js %}
    <script type="text/javascript" src="{{ asset_url('js/pie.js') }}"></script>
    <script type="text/javascript" src="{{ asset_url('js/golovi.js') }}"></script>
    <script type="text/javascript" src="{{ asset_url('js/forma.js') }}"></script>
    <script type="text/javascript" src="{{ asset_url('js/filter.js') }}"></script>
    <script type="text/javascript">

        var klubId = {{ klub.id }};

        //Prvi grafik
        var sezone = [
            {% for sezona in sezone %}
                "{{ sezona }}",
            {% endfor %}
        ];
        var protivnici = [
            {% for protivnik in klubovi %}
                {% if protivnik.id != klub.id %}
                "{{ protivnik.id }}",
                {% endif %}
            {% endfor %}
        ];

        var filterRezultati = new Filter();
        filterRezultati.setuj("#filteri",sezone,protivnici,false, "#filter_primeni");

        var radius = 200;

        var pieCtrl;

        var parameters = {
            "klub_id": klubId,
            "sezone": sezone,
            "protivnici": protivnici
        };

        d3.json("/data/rezultati")
                .header("Content-type", "application/json")
                .post(JSON.stringify(parameters),function(error, data){

                    pieCtrl = new PieCtrl();
                    pieCtrl.init("#odnos_rezultati",
                            ["green","yellow","red"]
                            ,radius
                            ,data);
                });

        function update(){
            filterRezultati.prikazi();
            var parameters = {
                "klub_id": klubId,
                "sezone": filterRezultati.getSezone()
            };
            if (filterRezultati.getKlubovi().count != 0) {
                parameters.protivnici = filterRezultati.getKlubovi()
            }
            d3.json("/data/rezultati")
                .header("Content-type", "application/json")
                .post(JSON.stringify(parameters),function(error, data){
                    pieCtrl.update(data);
               });
        }

        //Drugi grafik
        var sezoneGolovi = [
            {% for sezona in sezone %}
                "{{ sezona }}",
            {% endfor %}
        ];
        var protivniciGolovi = [
            {% for protivnik in klubovi %}
                {% if protivnik.id != klub.id %}
                "{{ protivnik.id }}",
                {% endif %}
            {% endfor %}
        ];

        var filterGolovi = new Filter();
        filterGolovi.setuj("#filteri_golovi", sezoneGolovi, protivniciGolovi, false, '#filter_golovi_primeni');

        var goloviCtrl;

        d3.json("/data/golovi")
                .header("Content-type", "application/json")
                .post(JSON.stringify(parameters),function(error, data){

                    goloviCtrl = new GoloviCtrl();
                    goloviCtrl.init("#golovi",data,900,300);
        });

        function updateGolovi(){
            filterGolovi.prikazi();
            var parameters = {
                "klub_id": klubId,
                "sezone": filterGolovi.getSezone()
            };
            if (filterGolovi.getKlubovi().count != 0) {
                parameters.protivnici = filterGolovi.getKlubovi()
            }
            d3.json("/data/golovi")
                .header("Content-type", "application/json")
                .post(JSON.stringify(parameters),function(error, data){
                    goloviCtrl.update(data);
            });
        }

        //treci grafik
        var sezoneForma = [
            {% for sezona in sezone %}
                "{{ sezona }}",
            {% endfor %}
        ];
        var protivniciForma = [
            {% for protivnik in klubovi %}
                {% if protivnik.id != klub.id %}
                "{{ protivnik.id }}",
                {% endif %}
            {% endfor %}
        ];

        var filterForma = new Filter();
        filterForma.setuj("#filteri_forma",sezoneForma,protivniciForma,false, "#filter_forma_primeni");

        var formaCtrl;

        d3.json('/data/forma')
                .header("Content-type", "application/json")
                .post(JSON.stringify(parameters),function(error, data){

                    formaCtrl = new FormaCtrl();
                    formaCtrl.init("#forma",data,900,300);
                });

    function updateForma(){
        filterForma.prikazi();
        var parameters = {
            "klub_id": klubId,
            "sezone": filterForma.getSezone()
        };
        if (filterForma.getKlubovi().count != 0) {
            parameters.protivnici = filterForma.getKlubovi()
        }
        d3.json("/data/forma")
            .header("Content-type", "application/json")
            .post(JSON.stringify(parameters),function(error, data){
                formaCtrl.update(data);
           });
    }
    </script>
{% endblock %}