{% set user_logged_in = True if current_user else False %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ asset_url('css/skeleton.css') }}">
        <link rel="stylesheet" href="{{ asset_url('css/site.css') }}">
    </head>
    <body>
    <section id="header">
        {% include "header.html" %}
    </section>
    <section class="main container">
        {% block main_content %}
        {% endblock %}
    </section>
    {% if not user_logged_in %}
        <section class="register">
            {% include "register.html" %}
        </section>
        <section class="login">
            {% include "login.html" %}
        </section>
    {% endif %}
    <div class="tooltip"></div>
    <script type="text/javascript" charset="utf-8" src="{{ asset_url('js/d3.v3.min.js') }}"></script>
    <script type="text/javascript" charset="utf-8" src="{{ asset_url('js/jquery-2.2.2.min.js') }}"></script>
    {% if not user_logged_in %}
    <script type="text/javascript" charset="utf-8" src="{{ asset_url('js/register.js') }}"></script>
    <script type="text/javascript" charset="utf-8" src="{{ asset_url('js/login.js') }}"></script>
    {% endif %}
    {% block page_js %}
    {% endblock %}
    </body>
</html>