{% extends 'master.html' %}

{% set title = 'Profil' %}

{% block main_content %}
<form class="izmeni-korisnika-modal">
    <div class="row">
        <h3>Izmeni korisnika</h3>
    </div>
    <div class="row">
        <div class="six columns">
            <label for="register-email">*Email:</label>
            <input class="u-full-width" name="email" type="email" placeholder="test@test.com" id="user-email" value="{{ user.email }}">
            <label class="error-label" id="register-error-email"></label>
        </div>
        <div class="six columns">
            <label for="register-username">*Korisnicko ime:</label>
            <input class="u-full-width" type="text" name="username" placeholder="Pera123" id="user-username" value="{{ user.username }}">
            <label class="error-label" id="register-error-username"></label>
        </div>
    </div>
    <div class="row">
        <div class="six columns">
            <label for="register-name">Ime:</label>
            <input class="u-full-width" type="text" name="name" placeholder="Pera" id="user-name" value="{{ user.ime }}">
        </div>
        <div class="six columns">
            <label for="register-last-name">*Prezime:</label>
            <input class="u-full-width" type="text" name="lastName" placeholder="Peric" id="user-last-name" value="{{ user.prezime }}">
        </div>
    </div>
    <div class="row buttons">
        <div class="six columns">
            <button class="button u-pull-left izmeni-close">Odustani</button>
        </div>
        <div class="six columns">
            <button class="button-primary u-pull-right" id="izmeni-start">Izmeni</button>
        </div>
    </div>
    <input type="hidden" id="user_id" value="{{ user.id }}">
</form>
<div class="row"></div>
<form>
    <div class="row">
        <h3>Izmeni password</h3>
    </div>
    <div class="row">
        <div class="six columns">
            <label for="user-password">*Password:</label>
            <input class="u-full-width" name="user-password" type="password" placeholder="Novi password" id="user-password">
            <label class="error-label" id="register-error-email"></label>
        </div>
        <div class="six columns">
            <label for="user-cpassword">*Novi password:</label>
            <input class="u-full-width" type="password" name="user-cpassword" placeholder="Potvrdi novi password" id="user-cpassword">
            <label class="error-label" id="register-error-username"></label>
        </div>
    </div>
    <div class="row buttons">
        <div class="twelve columns">
            <button class="button-primary u-pull-right" id="password-start">Izmeni</button>
        </div>
    </div>
</form>
{% endblock %}
{% block page_js %}
    <script type="text/javascript" charset="utf-8" src="{{ asset_url('js/profil.js') }}"></script>
{% endblock %}