<div class="container">
    <form class="register-modal">
        <div class="row">
            <h3>Registracija</h3>
        </div>
        <div class="row">
            <div class="six columns">
                <label for="register-email">*Email:</label>
                <input class="u-full-width" name="email" type="email" placeholder="test@test.com" id="register-email">
                <label class="error-label" id="register-error-email"></label>
            </div>
            <div class="six columns">
                <label for="register-username">*Korisnicko ime:</label>
                <input class="u-full-width" type="text" name="username" placeholder="Pera123" id="register-username">
                <label class="error-label" id="register-error-username"></label>
            </div>
        </div>
        <div class="row">
            <div class="six columns">
                <label for="register-password">*Sifra:</label>
                <input class="u-full-width" type="password" name="password" placeholder="sifra" id="register-password">
                <label class="error-label" id="register-error-password"></label>
            </div>
            <div class="six columns">
                <label for="register-confirm-password">*Potvrdi sifru:</label>
                <input class="u-full-width" type="password" name="confirmPassword" placeholder="potvrdi" id="register-confirm-password">
                <label class="error-label" id="register-error-confirm-password"></label>
            </div>
        </div>
        <div class="row">
            <div class="six columns">
                <label for="register-name">Ime:</label>
                <input class="u-full-width" type="text" name="name" placeholder="Pera" id="register-name">
            </div>
            <div class="six columns">
                <label for="register-last-name">Prezime:</label>
                <input class="u-full-width" type="text" name="lastName" placeholder="Peric" id="register-last-name">
            </div>
        </div>
        <div class="row buttons">
            <div class="six columns">
                <button class="button u-pull-left register-close">Odustani</button>
            </div>
            <div class="six columns">
                <button class="button-primary u-pull-right" id="register-start">Registruj se</button>
            </div>
        </div>
    </form>
    <div class="register-success" style="display:none;">
        <div class="row text">
            <h1>Uspesno ste se registrovali!</h1>
        </div>
        <div class="row">
            <button class="button register-close">Zatvori</button>
        </div>

    </div>
</div>