{% extends 'master.html' %}

{% set title = "Tabela" %}
{#{% set trenutno_kolo = sezona.kola[sezona.trenutno_kolo - 1] %}#}

{% block main_content %}
    <div class="row">
        <div class="three columns">
            <div class="row">
                <div class="four columns">
                    <label for="sezona">Sezona:</label>
                    <select id="sezona">
                        {% for sezona in sezone %}
                            <option value="{{ sezona }}">{{ sezona }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="three columns">
            <h4 id="kolo">Kolo: </h4>
        </div>
        <div class="six columns">
            <div class="row">
                <div class="six columns">
                    <button id="prethodno_kolo">Prethodno kolo</button>
                </div>
                <div class="six columns">
                    <button id="sledece_kolo">Sledece kolo</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <svg width="100%" height="30px">
                <g class="rezultat" transform="scale(1,1)">
                    <text x="0" y="15px" dy=".35em">Domaćin</text>
                    <text x="40%" y="15px" dy=".35em">Gost</text>
                    <text x="80%" y="15px" dy=".35em">Rezultat</text>
                </g>
            </svg>
            <svg id="rezultati" width="100%" height="30px">
{#                {% for rezultat in trenutno_kolo.rezultati %}#}
{#                    <svg width="100%" height="30px" x="0" y="{{ 30 * (loop.index - 1) }}px">#}
{#                        <g class="rezultat" transform="scale(1,1)">#}
{#                            <text x="0" y="15px" dy=".35em">{{ rezultat.domacin }}</text>#}
{#                            <text x="40%" y="15px" dy=".35em">{{ rezultat.gost }}</text>#}
{#                            <text x="80%" y="15px" dy=".35em">{{ "{}:{} ({}:{})".format(rezultat.golovi_domacin_ukupno, rezultat.golovi_gost_ukupno, rezultat.golovi_domacin_poluvreme, rezultat.golovi_gost_poluvreme) }}</text>#}
{#                        </g>#}
{#                    </svg>#}
{#                {% endfor %}#}
            </svg>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <svg width="100%" height="30px" x="0" y="0">
                <g class="header" transform="scale(1,1)">
                    <text x="0" y="15px" dy=".35em"></text>
                    <text x="5%" y="15px" dy=".35em">Klub</text>
                    <text x="34%" y="15px" dy=".35em">Odigrano</text>
                    <text x="42%" y="15px" dy=".35em">Pobede</text>
                    <text x="50%" y="15px" dy=".35em">Nerešeno</text>
                    <text x="58%" y="15px" dy=".35em">Porazi</text>
                    <text x="66%" y="15px" dy=".35em">Dato</text>
                    <text x="74%" y="15px" dy=".35em">Primljeno</text>
                    <text x="82%" y="15px" dy=".35em">Razlika</text>
                    <text x="90%" y="15px" dy=".35em">Bodovi</text>
                </g>
            </svg>
            <svg id="tabela" width="100%" height="30px">
{#                {% for klub in trenutno_kolo.tabela %}#}
{#                <svg width="100%" height="30px" x="0" y="{{ 30 * (loop.index - 1) }}px">#}
{#                    <g class="tim" transform="scale(1,1)">#}
{#                        <text x="0" y="15px" dy=".35em">{{ loop.index }}</text>#}
{#                        <text x="5%" y="15px" dy=".35em" class="ime_kluba">{{ klub.klub.ime }}</text>#}
{#                        <text x="36%" y="15px" dy=".35em" class="odigrano">{{ klub.br_utakmica }}</text>#}
{#                        <text x="44%" y="15px" dy=".35em" class="pobede">{{ klub.pobede }}</text>#}
{#                        <text x="52%" y="15px" dy=".35em" class="nereseno">{{ klub.nereseno }}</text>#}
{#                        <text x="60%" y="15px" dy=".35em" class="porazi">{{ klub.porazi }}</text>#}
{#                        <text x="68%" y="15px" dy=".35em" class="golovi_dato">{{ klub.golovi_dato }}</text>#}
{#                        <text x="76%" y="15px" dy=".35em" class="golovi_primljeno">{{ klub.golovi_primljeno }}</text>#}
{#                        <text x="84%" y="15px" dy=".35em" class="gol_razlika">{{ klub.golovi_dato - klub.golovi_primljeno }}</text>#}
{#                        <text x="92%" y="15px" dy=".35em" class="bodovi">{{ klub.bodovi }}</text>#}
{#                    </g>#}
{#                </svg>#}
{#                {% endfor %}#}

            </svg>
        </div>
    </div>

{% endblock %}

{% block page_js %}
<script type="text/javascript" src="{{ asset_url('js/tabela.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        var tabela = false;

        $("#sezona").change(function(){

            var params = {
                sezona : $(this).find("option:selected").val()
            };

            $.ajax({
                type: "POST",
                url: "/data/dohvati_sezonu",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(params),
                dataType: "json",
                success: function(data){
                    if (data.status == "ok"){
                        try{
                            var sezona = JSON.parse(data.sezona);
                            if (tabela){
                                tabela.update(sezona, sezona.trenutno_kolo - 1);
                            }else{
                                tabela = new TabelaCtrl(sezona, sezona.trenutno_kolo - 1);
                            }
                            console.log("done");
                        }catch(e){
                            console.log(e);
                        }
                    }else{
                        alert(data.message);
                    }
                },
                error: function(error){
                    console.log("error");
                    console.log(error);
                }
            })
        })

        $("#sezona").val("{{ trenutna_sezona }}").trigger("change");
    })
</script>
{% endblock %}